@import "tailwindcss";

@theme inline {
  /** Font family*/
  --font-spectral: var(--font-spectral);

  /** Font size*/
  --text-xLarge: clamp(3rem, 12vw, 24.06rem);
}

.border-container,
.nav-item-wrapper {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
